.cardReview{
    border: 2px solid var(--thm-border);
padding: 30px;
border-radius: 6px;

display: flex;
align-items: center;
text-align: left;

position: relative;

box-sizing: border-box;

background-color: antiquewhite;
margin-top: 30px;
}

.avatar{
    justify-content: flex-start;
    position: relative;
overflow: hidden;
display: flex;
align-items: center;
}

.avatar img{
    width: 100px;
height: 100px;
object-fit: cover;
border-radius: 50%;
}

.infoContinut{
    margin-left: 30px;
    max-width: 100%;

    position: relative;

    

    box-sizing: border-box;
}

.infoText{
    align-items: center !important;
    justify-content: space-between !important;
    display: flex !important;    
    
}

.reviewAutor{
    align-items: center !important;
    display: flex !important;
    box-sizing: border-box;
}

.autor{

}

.review{
    margin: 0;
    justify-content: flex-start;
}



