.rhap_container.player {
    background-color: rgb(76, 62, 95);
    display: flex;
    justify-items: center;
    padding: 0.25em 0.75em;
    border-radius: 10px;
  }
  
  .rhap_stacked .rhap_controls-section {
    margin-top: 0 !important;
  }
  
  .rhap_controls-section .rhap_volume-controls {
    justify-content: center;
  }
  
  .rhap_controls-section .rhap_main-controls button[aria-label="Play"] svg path {
    fill: rgb(15, 193, 45) !important;
  }
  
  .rhap_controls-section .rhap_main-controls button[aria-label="Pause"] svg path {
    fill: #e36bae !important;
  }

  .rhap_controls-section .rhap_main-controls button[aria-label="Repeat"] svg path {
    display: none !important;
  }