.container{
    z-index: -1;
    background-color: bisque;
}

.containerPoze{
    box-sizing: border-box;
    padding: 0 !important;
    background-color: aqua;
}

.titluri{
    text-align: center;
    margin: 0 auto 50px;
    position: relative;
}

.t1{
    display: inline-flex;
    font-size: 16px;
    color: rgb(20, 199, 199) !important;
}

.t2{
    position: relative;
    color: red !important;
}

.slider{
    position: relative;
    display: block;
    box-sizing: border-box;
}

.slider2{
    padding: 0;
    display: flex;
    margin: 0 -10px;
    transform: translateZ(0);
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
}