.info-section{
    
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    background: #1da1f2;
    
}

.container{
    background: rgb(154, 83, 118) !important;
    width: 100%;
    border-radius: 25px;
    padding: 25px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.infoTitlu{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    color:rgb(85, 197, 11)
}

.info{
    display: flex;
}

img{
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.4);
}

.text{
    margin: 10px;
    font-size: 30px;
    color: rgb(30, 177, 203);

}

.buton{
    outline: none;
    border: none;
    cursor: pointer;
    width: 100px;
    padding: 8px 12px;
    background: #1da1f2;
    margin:100px 120px 100px 100px;
    color: rgb(238, 232, 51);
    border-radius: 6px;
}