.card{
  max-width: 1100px;
  background: #ebfeff;
  border-radius: 10px;
  border: 2px solid #0085a3;
  padding: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.numar{
    font-size: 30px;
    color: aqua;
}

.textIntrebare{
    font-size: 40px;
    color: rgb(189, 22, 106);
}