.poza {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .poza {
      width: 100%;
      display: block;
    }
  }

  .rand::after {
    content: "";
    clear: both;
    display: table;
  }