.titlu{
    font-family: Fascinate Inline;
    background-image: linear-gradient(180deg, #fff, #87f1ff);
    font-weight: 400;
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    filter: drop-shadow(2px 2px #0085a3);
    font-size: 70px;
    text-align: center;
    margin: 20px;
}

.start{
    cursor: pointer;
    background: linear-gradient(180deg, #b06969, #d393ce);
    border: 4px solid #112080;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: 40px;
    margin: 20px 0;
    padding: 0 40px;
    color: #0085a3;
    max-width: 200px;
}

.urmator{
    cursor: pointer;
    background: linear-gradient(180deg, #b06969, #d393ce);
    border: 4px solid #112080;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: 40px;
    margin: 20px 0;
    padding: 0 40px;
    color: #0085a3;
}

.scor{
    color: red;
    cursor: pointer;
}

.incarcare{
    font-size: 50px;
    color: rgb(216, 116, 23);
}